<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=yes">
    <title>UDID</title>
    <link rel="stylesheet" href="./static/css/main.css">
  </head>
  <body>
    <section>
      <div class="container">
        <form action="">
          <div class="form-group">
            <label for="udid">UDID</label>
            <p>asdfkalsdjkalsdei01347ajfkdanfdksalfds79</p>
          </div>
          <div class="form-group">
            <label for="name">Give it a name</label>
            <input type="text" placeholder="Tom-iPhone6s">
          </div>
          <button type="submit" class="btn btn-secondary btn-submit">Submit</button>
        </form>
      </div>
    </section>
    <footer>
      <div class="powered-by">
        <span>Powered by</span>
        <div class="logo">
          <img src="./static/images/logo.svg" alt="">
          <span>Treation</span>
        </div>
      </div>
    </footer>
  </body>
</html>
